swagger: "2.0"
info:
  description: "This is definition for Serverless Performance API"
  version: "1.0.0"
  title: "Serverless Performance"
host: "serverlessperformance.net"
basePath: "/serverlessperformance/v1"
tags:
- name: "metrics"
  description: "Serverless Performance Metrics"
- name: "runtime-data"
  description: "Serverless Performance Data For Language Runtimes"
schemes:
- "https"
paths:
  /metrics:
    post:
      tags:
      - "metrics"
      summary: "Send function metrics data"
      description: "Sends metrics data to the serverless performance framework for storage"
      operationId: "sendFunctionMetricsData"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "body"
        in: "body"
        description: "Function metrics data"
        required: true
        schema:
          $ref: "#/definitions/Metric"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Metric"      
        405:
          description: "Invalid input"
  /runtimes/{runtimeId}:  
    get:
      tags:
      - "runtime-data"
      summary: "Get data about a language runtime's performance"
      description: ""
      operationId: "runtimeSummary"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "runtimeId"
        in: "path"
        description: "Runtime Language Name"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/MetricsSummary"    
        405:
          description: "Invalid input"
  /runtimes/{runtimeId}/maximum:  
    get:
      tags:
      - "runtime-data"
      summary: "Get details about the longest execution of a language runtime's function"
      description: ""
      operationId: "runtimeMaximum"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "runtimeId"
        in: "path"
        description: "Runtime Language Name"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Metric"    
        405:
          description: "Invalid input"          
definitions:
  Metric:
    type: "object"
    properties:
      functionName:
        type: "string"
      functionVersion:
        type: "string"
      timestamp:
        type: "string"
      duration:
        type: "integer"
        format: "int32"
        description: "Function execution duration (ms)"          
      billedDuration:
        type: "integer"
        format: "int32"
        description: "Function execution duration as billed (ms)"          
      memorySize:
        type: "integer"
        format: "int32"
        description: "Memory that was allcoated to the function (MB)"     
      memoryUsed:
          type: "integer"
          format: "int32"
          description: "Maximum memory that was used by the function (MB)"                          
      languageRuntime:
        type: "string"
      serverlessPlatformName:
        type: "string"
  MetricsSummary:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      maximum:
        type: "integer"
        format: "int64"
        description: "Max length of time it took to initialize the function"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"


  # /runtimes/java... gives summary of details
  # /runtimes/<runtime>/maximum?state=warm
  # /runtimes/<runtime>/minimum?state=warm
  # /runtimes/<runtime>/average?state=warm&start_date=XXX&end_date=YYY&memory=ZZZ&type=empty
  # /plaforms/<platform>/runtimes/<runtime>.... as above